/* Typeform page */

/* Import Gilroy Regular */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-regular.woff2') format('woff2'),
         url('../fonts/gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Import Kritik Medium */
@font-face {
    font-family: 'Kritik-Medium';
    src: url('../fonts/Kritik-Medium.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Kritik-Trial-Regular';
    src: url('../fonts/Kritik-Trial-Regular.otf') format('opentype');
    font-style: normal;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kritik-Trial-Regular';
    color: #191612;
    font-size: 3.125rem;
}

p {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.375rem;
}

a {
    font-family: 'Gilroy', sans-serif;
    font-size: 0.875rem;
}

body {
    display: contents;
}

.typeform-page {
    margin: 0;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Gilroy', sans-serif;
    background-color: #0c0c0c; 
}

[data-tf-live] {
    width: 100%; 
    height: 100%;
    border: none; 
    border-radius: 10px; 
}

.return-links {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 50px;
    background-color: #0c0c0c;
}

.return-links a {
    color: #fefdf9;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
}